<div class="container vh-100 my-5">
  <div class="col-md-12">
    <div class="row mb-5">
      <div class="col-md-4">
        <div class="card text-left">
          <div class="card-header">
            Actively Hiring <i class="fa-solid fa-chart-line"></i>
          </div>
          <div class="card-body">
            <h4 class="card-title">Coding Ninjas</h4>
            <p class="card-text"><b>Tech</b> SDE</p>
            <h6 class="card-title">Gurgaon HR IND Remote</h6>
            <h6 class="card-title">
              <i class="fa-solid fa-indian-rupee-sign"></i> 14-20lpa
            </h6>
            <div class="d-flex justify-content-center align-items-center">
              <div class="d-flex flex-wrap justify-content-start">
                <button class="custom-btn">REACT</button>
                <button class="custom-btn">NodeJs</button>
                <button class="custom-btn">JS</button>
                <button class="custom-btn">SQL</button>
                <button class="custom-btn">MongoDB</button>
                <button class="custom-btn">Express</button>
                <button class="custom-btn">AWS</button>
              </div>
            </div>
            <div class="d-grid gap-2 mt-3">
              <a href="/jobs/1" class="btn btn-info">View Details</a>
            </div>
          </div>
          <!-- <div class="card-footer text-body-secondary">2 days ago</div> -->
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-left">
          <div class="card-header">Actively Hiring</div>
          <div class="card-body">
            <h4 class="card-title">Coding Ninjas</h4>
            <p class="card-text"><b>Tech</b> SDE</p>
            <h6 class="card-title">Gurgaon HR IND Remote</h6>
            <h6 class="card-title">
              <i class="fa-solid fa-indian-rupee-sign"></i> 14-20lpa
            </h6>
            <div class="d-flex justify-content-center align-items-center">
              <div class="d-flex flex-wrap justify-content-start">
                <button class="custom-btn">REACT</button>
                <button class="custom-btn">NodeJs</button>
                <button class="custom-btn">JS</button>
                <button class="custom-btn">SQL</button>
                <button class="custom-btn">MongoDB</button>
                <button class="custom-btn">Express</button>
                <button class="custom-btn">AWS</button>
              </div>
            </div>
            <div class="d-grid gap-2 mt-3">
              <a href="/jobs/2" class="btn btn-info">View Details</a>
            </div>
          </div>
          <!-- <div class="card-footer text-body-secondary">2 days ago</div> -->
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-left">
          <div class="card-header">Actively Hiring</div>
          <div class="card-body">
            <h4 class="card-title">Coding Ninjas</h4>
            <p class="card-text"><b>Tech</b> SDE</p>
            <h6 class="card-title">Gurgaon HR IND Remote</h6>
            <h6 class="card-title">
              <i class="fa-solid fa-indian-rupee-sign"></i> 14-20lpa
            </h6>
            <div class="d-flex justify-content-center align-items-center">
              <div class="d-flex flex-wrap justify-content-start">
                <button class="custom-btn">REACT</button>
                <button class="custom-btn">NodeJs</button>
                <button class="custom-btn">JS</button>
                <button class="custom-btn">SQL</button>
                <button class="custom-btn">MongoDB</button>
                <button class="custom-btn">Express</button>
                <button class="custom-btn">AWS</button>
              </div>
            </div>
            <div class="d-grid gap-2 mt-3">
              <a href="/jobs/3" class="btn btn-info">View Details</a>
            </div>
          </div>
          <!-- <div class="card-footer text-body-secondary">2 days ago</div> -->
        </div>
      </div>
    </div>
    <div class="row mb-5">
      <div class="col-md-4">
        <div class="card text-left">
          <div class="card-header">Actively Hiring</div>
          <div class="card-body">
            <h4 class="card-title">Coding Ninjas</h4>
            <p class="card-text"><b>Tech</b> SDE</p>
            <h6 class="card-title">Gurgaon HR IND Remote</h6>
            <h6 class="card-title">
              <i class="fa-solid fa-indian-rupee-sign"></i> 14-20lpa
            </h6>
            <div class="d-flex justify-content-center align-items-center">
              <div class="d-flex flex-wrap justify-content-start">
                <button class="custom-btn">REACT</button>
                <button class="custom-btn">NodeJs</button>
                <button class="custom-btn">JS</button>
                <button class="custom-btn">SQL</button>
                <button class="custom-btn">MongoDB</button>
                <button class="custom-btn">Express</button>
                <button class="custom-btn">AWS</button>
              </div>
            </div>
            <div class="d-grid gap-2 mt-3">
              <a href="/jobs/4" class="btn btn-info">View Details</a>
            </div>
          </div>
          <!-- <div class="card-footer text-body-secondary">2 days ago</div> -->
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-left">
          <div class="card-header">Actively Hiring</div>
          <div class="card-body">
            <h4 class="card-title">Coding Ninjas</h4>
            <p class="card-text"><b>Tech</b> SDE</p>
            <h6 class="card-title">Gurgaon HR IND Remote</h6>
            <h6 class="card-title">
              <i class="fa-solid fa-indian-rupee-sign"></i> 14-20lpa
            </h6>
            <div class="d-flex justify-content-center align-items-center">
              <div class="d-flex flex-wrap justify-content-start">
                <button class="custom-btn">REACT</button>
                <button class="custom-btn">NodeJs</button>
                <button class="custom-btn">JS</button>
                <button class="custom-btn">SQL</button>
                <button class="custom-btn">MongoDB</button>
                <button class="custom-btn">Express</button>
                <button class="custom-btn">AWS</button>
              </div>
            </div>
            <div class="d-grid gap-2 mt-3">
              <a href="/jobs/5" class="btn btn-info">View Details</a>
            </div>
          </div>
          <div class="card-footer text-body-secondary">2 days ago</div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card text-left">
          <div class="card-header">Actively Hiring</div>
          <div class="card-body">
            <h4 class="card-title">Coding Ninjas</h4>
            <p class="card-text"><b>Tech</b> SDE</p>
            <h6 class="card-title">Gurgaon HR IND Remote</h6>
            <h6 class="card-title">
              <i class="fa-solid fa-indian-rupee-sign"></i> 14-20lpa
            </h6>
            <div class="d-flex justify-content-center align-items-center">
              <div class="d-flex flex-wrap justify-content-start">
                <button class="custom-btn">REACT</button>
                <button class="custom-btn">NodeJs</button>
                <button class="custom-btn">JS</button>
                <button class="custom-btn">SQL</button>
                <button class="custom-btn">MongoDB</button>
                <button class="custom-btn">Express</button>
                <button class="custom-btn">AWS</button>
              </div>
            </div>
            <div class="d-grid gap-2 mt-3">
              <a href="/jobs/6" class="btn btn-info">View Details</a>
            </div>
          </div>
          <div class="card-footer text-body-secondary">2 days ago</div>
        </div>
      </div>
    </div>
  </div>
</div>
