<div class="container text-center">
  <div class="oops-title">OOPs</div>
  <div class="oops-icon my-4">
    <img src="/images/sad-icon.png" alt="Sad Icon" />
  </div>
  <div class="oops-message">
    Only recruiters are allowed to access this page. Please login as a recruiter
    to continue.
    <a href="#" onclick="window.history.back()" class="btn btn-danger">Back</a>
  </div>
</div>
