<!-- Footer -->
<!-- <footer class="text-center text-lg-start bg-info text-muted mt-auto"> -->
  <footer class="text-center text-lg-start bg-info text-muted fixed-bottom">
    <!-- Copyright -->
    <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05)">
      © <%= COPYRIGHT_YEAR %> Copyright:
      <a class="text-reset fw-bold" href="/"><%= APP_NAME %></a>
    </div>
    <!-- Copyright -->
  </footer>
  <!-- Footer -->
</footer>
